/* root variables */
:root{
    --main-background--clr:#ffffff;
    --sidebar-background-clr:#260743;
    --section-background-clr:#33095b;
  
   
    --text-clr:#ffffff;
    --btn-clr:#b57cec;
    --input-border-clr:#edbb48;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
   min-height: 100vh;

}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
  
}

.section1{
    background-color: var(--sidebar-background-clr);
    background-image: url(../Assets/pic1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
 
  
   
}
.section1 h3{
    padding: 50px;
    font-weight: 700;
    font-style: italic;
    color: var(--sidebar-background-clr);
    line-height: 1.5rem;
}
.content{
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-color: var(--sidebar-background-clr);
    opacity: 0.4;
    
  
}
.section2{
    background-color: var(--section-background-clr);
    color: var(--text-clr);
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* color: #edbb48; */
    color: #33095b;
  
    
}
.section2 h3{
    padding-bottom: 40px;
    color: #edbb48;
}
form{
    background-color: #F5F5F5;
    padding-top: 30px;
    border-radius: 10px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.flex-container-space{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 105px;
}
.form-control{
    padding: 20px;
}
#btn-submit{
    padding: 15px 50px 15px 50px;
    color: white;
    background-color: var(--btn-clr);
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.myButton{
    display: flex;
    align-items: center;
    justify-content: center;


}
input, select{
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid #33095b;
    background-color: #F5F5F5;
    color: #33095b;
    outline: none;
}
input[type ="email"]{
    /* width: 450px; */
    /* text-align: center; */
}
.input-fields{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    position: relative;
}
.input-fields span{
    position: absolute;
    right: 6px;
    bottom: 10px;
}
#ZIP{
    /* width: 450px;  */
    /* text-align: center; */
}
.error-icon{
    color: #edbb48;
    display: none;
 
  
}
.success-icon{
    color: green;
    display: none;
}
.errorMessage{
    /* display: none; */
    position: absolute;
    top: 70px;
    left: 2px;
    color: #edbb48;
}

.mylabel{
    padding-bottom: 10px;
}
.border-red{
    border: 2px solid #edbb48;
}
.border-green{
    border: 2px solid green;
}